.book-demo-button {
  background-color: #c0f522;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.book-demo-button:hover .arrow-icon {
  transform: translateX(5px);
}

.book-demo-button .arrow-icon {
  transition: all 0.3s ease-in-out;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .book-demo-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .book-demo-button .arrow-icon {
    width: 16px; /* Adjust icon size if needed */
    height: 16px; /* Adjust icon size if needed */
  }
}

@media (max-width: 480px) {
  .book-demo-button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .book-demo-button .arrow-icon {
    width: 14px; /* Adjust icon size if needed */
    height: 14px; /* Adjust icon size if needed */
  }
}
