.image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #fdfdfd; /* Match the background color of the section */
  margin-top: 10%; /* Add margin from the top */
}

.image-section-img {
  width: 500px; /* Set the image width */
  height: 500px; /* Set the image height */
  margin-right: 20px; /* Add margin to the right of the image */
}

.image-section-content {
  max-width: 50%;
  text-align: left;
  padding-left: 20px; /* Add padding to separate the text from the image */
}

.image-section-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000; /* Adjust the color if needed */
}

.image-section-content p {
  font-size: 1.2rem;
  color: #555; /* Adjust the color if needed */
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .image-section {
    flex-direction: column;
    padding: 30px;
    margin-top: 5%;
  }

  .image-section-img {
    width: 400px;
    height: 400px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .image-section-content {
    max-width: 80%;
    padding-left: 0;
    text-align: center;
  }

  .image-section-content h2 {
    font-size: 1.8rem;
  }

  .image-section-content p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .image-section {
    padding: 20px;
  }

  .image-section-img {
    width: 300px;
    height: 300px;
  }

  .image-section-content {
    max-width: 90%;
  }

  .image-section-content h2 {
    font-size: 1.5rem;
  }

  .image-section-content p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .image-section {
    padding: 10px;
  }

  .image-section-img {
    width: 100%;
    height: auto;
  }

  .image-section-content {
    max-width: 100%;
    padding-left: 0;
  }

  .image-section-content h2 {
    font-size: 1.2rem;
  }

  .image-section-content p {
    font-size: 0.8rem;
  }
}
