.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdfd;
}

.landing-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.landing-content {
  max-width: 45%;
  text-align: left;
  margin-right: 20px;
  margin-left: 50px;
}

.landing-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.landing-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.landing-button {
  background-color: #c0f522;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.landing-button:hover .arrow-icon {
  transform: translateX(5px);
}

.landing-button .arrow-icon {
  transition: all 0.3s ease-in-out;
}

.landing-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-image-cover {
  width: 550px;
  height: 550px;
  border-radius: 10%;
  object-fit: cover;
}

.marquee-container {
  width: 95%;
  margin-top: 20px;
  padding: 10px 0;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.marquee {
  display: flex;
  width: 100%;
  animation: marquee 20s linear infinite;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

.client-logos-marquee_list-wrapper {
  display: flex;
  align-items: center;
}

.client-logos-marquee_list {
  display: flex;
  align-items: center;
  gap: 40px; /* Adjust gap between logos */
}

.client-logos-marquee_item {
  flex: 0 0 auto;
}

.client-logos-marquee_logo {
  max-height: 50px;
  display: block;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .landing-content-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .landing-content {
    max-width: 80%;
    margin: 20px 0;
    text-align: center;
  }

  .landing-content h1 {
    font-size: 2rem;
  }

  .landing-content p {
    font-size: 1rem;
  }

  .landing-image-cover {
    width: 450px;
    height: 450px;
  }

  .marquee-container {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .landing-content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .landing-content {
    max-width: 90%;
    margin: 20px 0;
    text-align: center;
  }

  .landing-content h1 {
    font-size: 1.8rem;
  }

  .landing-content p {
    font-size: 1rem;
  }

  .landing-image-cover {
    width: 400px;
    height: 400px;
  }

  .marquee-container {
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  .landing-content-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .landing-content {
    max-width: 100%;
    margin: 10px 0;
  }

  .landing-content h1 {
    font-size: 1.5rem;
  }

  .landing-content p {
    font-size: 0.9rem;
  }

  .landing-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .landing-image-cover {
    width: 300px;
    height: 300px;
  }

  .client-logos-marquee_logo {
    max-height: 40px;
  }
}
