.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar-logo img {
  height: 18px;
  width: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-item {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.navbar-item img {
  width: 10px;
  height: 10px;
}

.navbar-item a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
}

.navbar-item:hover a {
  color: #000;
}

.navbar-demo .book-demo-button {
  background-color: #c0f522;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.book-demo-button:hover .arrow-icon {
  transform: translateX(5px);
}

.book-demo-button .arrow-icon {
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-item {
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
  }

  .navbar-demo {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
  }

  .menu-toggle {
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .navbar-logo img {
    height: 15px;
  }

  .book-demo-button {
    padding: 8px 16px;
  }
}
